<launch>
  <rosparam command="load" file="$(find wbc_pr2_ctrl)/config/chain.yaml" />
  <rosparam command="load" file="$(find wbc_pr2_ctrl)/config/pump_plugin.yaml" />
  <node
      pkg="pr2_controller_manager"
      type="spawner"
      name="wbc_pr2_ctrl_pump_spawner"
      args="wbc_pr2_ctrl_pump_plugin"
      output="screen">
  </node>
</launch>
