<launch>
  <rosparam command="load" file="$(find pr2_stanford_wbc)/config/pr2_wbc.yaml" />
  <rosparam command="load" file="$(find pr2_stanford_wbc)/config/pump.yaml" />
  <node
      pkg="pr2_controller_manager"
      type="spawner"
      name="pr2_stanford_wbc_pump_spawner"
      args="pr2_stanford_wbc_pump"
      output="screen">
  </node>
</launch>
